* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #003f7f;
  --secondary: #00834d;
  --accent: #ff6b35;
  --accent-rgb: 255, 107, 53;
  --dark: #0a1128;
  --light: #d9e2ec;

  --text-light: #ffffff;
  --text-dark: #0a1128;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--light);
  color: var(--text-dark);
  overflow-x: hidden;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}


h1, h2{
  color: var(--primary);
  font-size: 2.5rem;

}